@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #6c22a5;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.app {
  overflow: clip;
}

.linearPrimarySecondary {
  background: linear-gradient(to right, #6962ac, #85c0c1);
  -webkit-background-clip: text;
  color: transparent;
}

.linearPrimaryAccent {
  background: linear-gradient(to right, #6962ac, #ededf2);
  -webkit-background-clip: text;
  color: transparent;
}

.linearSecondaryAccent {
  background: linear-gradient(to right, #85c0c1, #ededf2);
  -webkit-background-clip: text;
  color: transparent;
}

.radialPrimarySecondary {
  background: radial-gradient(#6962ac, #85c0c1);
  -webkit-background-clip: text;
  color: transparent;
}

.radialPrimaryAccent {
  background: radial-gradient(#6962ac, #ededf2);
  -webkit-background-clip: text;
  color: transparent;
}

.radialSecondaryAccent {
  background: radial-gradient(#85c0c1, #ededf2);
  -webkit-background-clip: text;
  color: transparent;
}

.italic-span {
  -webkit-text-stroke: 1px #96e9c6;
}

br {
  margin: 0;
}

.parent {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.7fr 0.5fr 0.1fr;
  grid-template-rows:
    repeat(4, 0.5fr)
    repeat(2, 0.2fr)
    repeat(3, 0.1fr)
    repeat(2, 0.1fr)
    repeat(2, 0.2fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.parent div {
  color: black;
  border-radius: 2px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 1 / 4 / 2 / 6;
}
.div3 {
  grid-area: 2 / 4 / 4 / 5;
}
.div4 {
  grid-area: 2 / 2 / 7 / 4;
}
.div5 {
  grid-area: 7 / 3 / 10 / 4;
}
.div6 {
  grid-area: 7 / 4 / 10 / 5;
}
.div7 {
  grid-area: 10 / 3 / 13 / 4;
}
.div8 {
  grid-area: 10 / 4 / 15 / 5;
}
.div9 {
  grid-area: 13 / 3 / 15 / 4;
}
.div10 {
  grid-area: 3 / 5 / 10 / 6;
}
.div11 {
  grid-area: 10 / 5 / 15 / 6;
}
.div12 {
  grid-area: 7 / 2 / 13 / 3;
}
.div13 {
  grid-area: 4 / 1 / 11 / 2;
}
.div14 {
  grid-area: 11 / 1 / 15 / 2;
}

article {
  overflow: hidden;
  position: relative;
  min-height: 4em;
}

.left {
  white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
}

.left {
  -webkit-animation: mymove 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: mymove 8s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

.right {
  white-space: nowrap;
  position: absolute;
  top: 2em;
  opacity: 0.4;
  text-transform: uppercase;
}

.right {
  -webkit-animation: urmove 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: urmove 8s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -140px;
  }
}

@keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -140px;
  }
}

@keyframes early {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.early {
  animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */

  animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration: 1s;
  animation-delay: 1.5s;
}

.hover-grow-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.hover-grow-animation::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  transform: scaleY(0.5);
  height: 20px;
  bottom: 0;
  left: 0;
  opacity: 50%;
  cursor: pointer;
  transform-origin: bottom;
  background-color: #9361bd;
  transition: transform 0.25s ease;
}

.hover-grow-animation:hover::after {
  transform: scaleY(1.4);
  height: 20px;
  transform-origin: bottom;
  transition: transform 0.25s ease;
}

/* styles.css (or your preferred stylesheet) */
.active-link {
  position: relative;
}

.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #9361bd;
  opacity: 50%;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  opacity: 0;
}

.active-link.under::before {
  transform-origin: bottom left;
  transform: scaleX(1);
  text-decoration: none;
  opacity: 1;
}
